* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@viewport {
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

Body {
    min-height: 200vh;
    min-width: 100vh;
    background: #0c192c;
    --nav-height: 100px;

    padding: 0;
}

.section1 {
    width: 600px;
    position: absolute;
    top: 200px;
    background: rgba(0,0,0,0);
}

.section2 {
    width: 600px;
    position: absolute;
    top: 800px;
    background: rgba(0,0,0,0);
}

.nav {
    width: 100%;
    z-index: 9000;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    background: #127dba;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    transition: transform 0.2s;
}

.icon {
    width: 70px;
    margin-left: 50px;
    position: relative;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 2em;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.AboutSection {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    left: 350px;
    height: 200px;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 1600px;
}

.Section1About {
    width: 500px;
    text-align: center;
    height: fit-content;
    position: absolute;
    left: 750px;
    top: 300px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    animation: rotate2 10s linear infinite;
}

.Section2About {
    width: 500px;
    text-align: center;
    height: fit-content;
    position: absolute;
    left: 750px;
    top: 915px;
    transform: rotate(-5deg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    animation: rotate 15s linear infinite;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}

.container {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    display: flex;
}

.secb1 {
    position: absolute;
    top: 310px;
    left: 90px;
    transform: rotate(5deg);
    border-radius: 10px;
}

.secb2 {
    position: absolute;
    top: 910px;
    left: 90px;
    transform: rotate(15deg);
    border-radius: 10px;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 118px;
    border-radius: 50%;
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 50px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 50px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(200vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(0.5);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotateZ(10deg) rotateY(-20deg) translateY(150px) translateX(50px);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotateZ(-10deg) rotateY(30deg) translateY(80px) translateX(20px);
    }

    100% {
        transform: rotate(-10deg);
    }
}
